/* form */
.form-title {
    max-width:750px;
    margin:0 auto;
    margin-bottom:25px;
    padding:25px 12px;
    background:#eee;
    border-radius:10px;
    @include font-md;
    color:#666;
    text-align:center;
    word-break:keep-all;
    @include mobile {
        margin-bottom:15px;
        padding:20px 12px;
    }
}
.form-wrap {
    max-width:750px;
    margin:0 auto;
    padding:30px 25px;
    border:1px solid $border;
    border-radius:10px;
    @include mobile {
        padding:20px 12px;
    }
    .essen-txt {
        margin-bottom:45px;
        color:#888;
        font-size:14px;
        text-align:right;
        &::before {
            content:'*';
            color:$red;
            margin-right:2px;
        }
        @include mobile {
            margin-bottom:35px;
            font-size:12px;
        }
    }
    .row {
        margin-top:35px;
        @include mobile {
            margin-top:25px;
        }
        &:first-child {
            margin-top:0;
        }
        > label,
        > p.label {
            display:block;
            margin-bottom:10px;
            font-size:16px;
            font-weight:500;
            @include mobile {
                margin-bottom:6px;
                font-size:14px;
            }
            &.essen {
                &::after {
                    content:'*';
                    margin-left:2px;
                    color:$red;
                }
            }
        }
        .forms {
            display:flex;
            > * ~ * {
                margin-left:10px;
                @include mobile {
                    margin-left:5px;
                }
            }
            .btn {
                min-width:160px;
                @include mobile {
                    min-width:100px;
                }
            }
        }
    }
    .error-msg {
        margin-top:10px;
        font-size:14px;
        color:$red;
        @include mobile {
            margin-top:6px;
            font-size:12px;
        }
        &::before {
            content:'!';
            display:inline-block;
            vertical-align:top;
            width:14px;
            height:14px;
            margin-right:4px;
            border-radius:50%;
            background:$red;
            color:#fff;
            font-size:11px;
            line-height:14px;
            text-align:center;
            @include mobile {
                width:12px;
                height:12px;
                line-height:12px;
            }
        }
        &:empty {
            margin-top:0;
            &::before {
                display:none;
            }
        }
    }
}

/* file upload */
.inputfile-wrap {
    position:relative;
    display:flex;
    width:100%;
    input[type="file"] {
        position:absolute;
        width:1px;
        height:1px;
        margin:-1px;
        padding:0;
        border:0;
        overflow:hidden;
        clip:rect(0, 0, 0, 0);
    }
    label.btn {
        order:2;
        display:block;
        margin-left:10px;
        @include mobile {
            margin-left:5px;
        }
    }
}

.agree-wraps {
    max-width:750px;
    margin:60px auto 0;
    border:1px solid $border;
    border-radius:10px;
    padding:30px 25px;
    @include mobile {
        margin-top:30px;
        padding:20px 12px;
    }
    .chk-wrap.all {
        display:block;
        padding-bottom:20px;
        border-bottom:1px solid $border;
    }
    .terms-lists {
        > li {
            margin-top:30px;
            @include mobile {
                margin-top:20px;
            }
            &:first-child {
                margin-top:20px;
            }
            .titles {
                display:flex;
                align-items:center;
                .link-basic {
                    margin-left:auto;
                    font-size:16px;
                    @include mobile {
                        font-size:14px;
                    }
                }
            }
            .conts {
                display:none;
                max-height:180px;
                overflow-y:auto;
                margin:15px -26px 0;
                padding:20px 26px;
                background:$disabled;
                color:$cont;
                @include font;
                @include mobile {
                    margin:10px -13px 0;
                    padding:15px 12px;
                }
            }
        }
    }
}

.list-filter {
    display:flex;
    @include mobile {
        display:block;
    }
    .spot-select {
        position:relative;
        flex:1;
        margin-right:10px;
        height:60px;
        border-radius:4px;
        background:#f5f5f5 url('/images/icon/icon-spot.png') 22px center no-repeat;
        @include mobile {
            height:50px;
            margin-right:0;
            margin-bottom:5px;
            background-position-x:16px;
            background-size:20px;
        }
        button {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            padding:0 16px 0 55px;
            color:#999;
            font-size:18px;
            text-align:left;
            @include mobile {
                padding-left:44px;
                font-size:15px;
            }
        }
    }
    .search {
        flex:1;
        display:flex;
        max-width:560px;
        margin-left:auto;
        .form-control {
            height:60px;
            min-height:60px;
            padding:12px 30px;
            border-radius:4px 0 0 4px;
            background:#f5f5f5;
            border-color:#f5f5f5;
            @include mobile {
                height:50px;
                min-height:50px;
                padding:6px 16px;
            }
        }
        .btn-search {
            width:80px;
            min-width:80px;
            background:#e8e8e8 url('/images/icon/icon-search.png') center no-repeat;
            border-radius:0 4px 4px 0;
            @include mobile {
                width:60px;
                min-width:60px;
                background-size:20px;
            }
        }
    }
}