/* tab */
.border-tabs {
    &.type2 {
        position:relative;
        &::before {
            content:' ';
            position:absolute;
            left:0;
            right:0;
            bottom:0;
            height:1px;
            background:$border;
            z-index:-1;
        }
    }
    ul.tabs {
        font-size:0;
        white-space:nowrap;
        li {
            display:inline-block;
            vertical-align:top;
            margin-left:25px;
            @include mobile {
                margin-left:15px;
            }
            &:first-child {
                margin-left:0;
            }
            a {
                display:block;
                padding-bottom:8px;
                border-bottom:1px solid transparent;
                color:#666;
                font-size:18px;
                .count {
                    margin-left:4px;
                    color:$point;
                    font-size:0.9em;
                }
                @include mobile {
                    font-size:16px;
                }
            }
            &.active {
                a {
                    color:#333;
                    border-bottom-color:#333;
                }
            }
        }
    }
}