<footer>
    <div class="foot-cont">
        <ul class="contact-info">
            <li>
                <p class="tit">사업제휴문의</p>
                <p class="desc">partner@carting.com</p>
            </li>
            <li>
                <p class="tit">마케팅문의</p>
                <p class="desc">marketing@carting.com</p>
            </li>
            <li>
                <p class="tit">고객센터</p>
                <p class="desc">help@carting.com</p>
            </li>
        </ul>
        <ul class="link-lists">
            <li><a href="">로그인</a></li>
            <li><a href="">고객센터</a></li>
            <li><a href="">파트너사 신청</a></li>
        </ul>
        <ul class="social-lists">
            <li><a href="" class="icon1" target="_blank"><span class="blind">카팅 인스타그램</span></a></li>
            <li><a href="" class="icon2" target="_blank"><span class="blind">카팅 페이스북</span></a></li>
            <li><a href="" class="icon3" target="_blank"><span class="blind">카팅 네이버블로그</span></a></li>
            <li><a href="" class="icon4" target="_blank"><span class="blind">카팅 유튜브</span></a></li>
        </ul>
        <ul class="comp-link-lists">
            <li><a href="">개인정보처리방침</a></li>
            <li><a href="">이용안내</a></li>
            <li><a href="">사업자정보확인</a></li>
            <li><a href="">이용약관</a></li>
        </ul>
        <div class="comp-infos">
            <p class="comp">주식회사 카팅</p>
            <p class="desc">
                서울시 강남구 테헤란로 415 엘세븐호텔 강남타워 오피스동 4층 401호, 402호, 403호, 대표자: 김동욱<br>
                사업자등록번호: 344-88-00965, 통신판매업신고번호: 2020-서울강남-02333<br>
                개인정보보호책임자: 천민기(mkchon@wiselycompany.com) 고객센터: 1833-9133 help@wiselycompany.com<br>
                제휴문의: mkt@wiselycompany.com
            </p>
            <p class="copyright">Copyright ©2021 CARTING. All rights reserved.</p>
        </div>
    </div>
</footer>