<article id="@@id" class="modal" aria-hidden="true">
    <div class="modal-wrap">
        <div class="modal-container">
            <div class="modal-head">
                @@if(context.title){
                    <h1 class="modal-title">@@title</h1>
                }
                <button type="button" class="btn-close" data-toggle="modal-close"><span class="blind">팝업 닫기</span></button>
            </div>
            <div class="modal-body">
                @@if(context.id === 'modal-myorder'){
                    <ul class="order-cont-lists">
                        <li>
                            <p class="tit">썬팅할 부분을 선택해주세요.</p>
                            <p class="desc">측면 4개(창문)</p>
                        </li>
                        <li>
                            <p class="tit">기존 필름 제거가 필요한가요?</p>
                            <p class="desc">네.</p>
                        </li>
                        <li>
                            <p class="tit">차종을 선택해주세요.</p>
                            <p class="desc">국내 승용</p>
                        </li>
                        <li>
                            <p class="tit">원하시는 필름이 있나요?</p>
                            <p class="desc">상담 후 결정할게요.</p>
                        </li>
                        <li>
                            <p class="tit">서비스 받고 싶은 날이 언제인가요?</p>
                            <p class="desc">원하는 날짜가 있어요</p>
                            <p class="desc">2021.09.00</p>
                        </li>
                        <li>
                            <p class="tit">어떻게 진행하기 원하시나요?</p>
                            <p class="desc">무관</p>
                        </li>
                        <li>
                            <p class="tit">고객님이 계신 지역을 선택해주세요.</p>
                            <p class="desc">경기 고양시 일산서구</p>
                        </li>
                        <li>
                            <p class="tit">안전거래를 이용해보세요.</p>
                            <p class="desc">확인했어요.</p>
                        </li>
                    </ul>
                }
                @@if(context.id === 'modal-cancel'){
                    <p class="modal-tit">어떤 이유로 요청을 취소하시는 건가요?</p>
                    @@include('./modules/slt-list.html', {
                        size : 'block',
                        rdo : 'slt',
                        slt : [
                            '카팅이 아닌 다른 서비스를 통해 고수를 구했습니다.',
                            '지인의 소개를 받거나 스스로 해결했습니다.',
                            '더 적절한 시기를 찾고 있거나 계획에 변경이 생겼습니다.',
                            '마음에 드는 고수를 소개 받지 못했습니다.',
                            '기타'
                        ]
                    })
                }
                @@if(context.id === 'modal-error'){
                    <div class="error">
                        <p class="tit">문제가 발생했어요</p>
                        <p class="desc">요청서를 중단하던 중 에러가 발생했습니다.<br>다시 시도해주시기 바랍니다.</p>
                    </div>
                }
            </div>
            @@if(context.button){
                <div class="modal-foot">
                    <button type="button" class="btn btn-lg btn-point"@@if(context.disabled){ disabled}@@if(context.close){ data-toggle="modal-close"}><span>@@button</span></button>@@if(context.disabled){<!-- 활성화시 disabled 삭제 -->}
                </div>
            }
        </div>
    </div>
</article>