/* member */
.member-wrap {
    max-width:750px;
    margin:110px auto 0;
    padding:50px 25px;
    border:1px solid $border;
    border-radius:4px;
    @include mobile {
        margin-top:40px;
        padding:40px 16px;
    }
    h2.title {
        margin-bottom:80px;
        font-size:30px;
        font-weight:500;
        text-align:center;
        @include mobile {
            margin-bottom:40px;
            font-size:20px;
        }
    }
    .form-control {
        height:60px;
        min-height:60px;
        font-size:18px;
        @include mobile {
            height:50px;
            min-height:50px;
            font-size:16px;
        }
    }
    .info-txt {
        margin:50px 0;
        @include font-md;
        text-align:center;
        word-break:keep-all;
        @include mobile {
            margin:30px 0;
        }
        em {
            font-weight:700;
            color:$point;
        }
    }
    .join-to {
        display:flex;
        justify-content:space-between;
        align-items:center;
        max-width:375px;
        margin:40px auto 0;
        @include mobile {
            margin-top:20px;
        }
        p {
            @include font-md;
        }
        a {
            font-size:20px;
            @include mobile {
                font-size:18px;
            }
        }
    }
    .btn-group {
        flex-direction:column;
        .btn {
            width:100%;
            max-width:445px;
            margin:10px auto 0;
            @include mobile {
                margin-top:5px;
            }
            &:first-child {
                margin-top:0;
            }
            &.btn-kakao {
                background:#ffe600;
                color:#371d1d;
                &::before {
                    content:' ';
                    display:inline-block;
                    vertical-align:top;
                    width:39px;
                    height:58px;
                    margin-right:6px;
                    background:url('/images/icon/icon-kakao.png') center no-repeat;
                    @include mobile {
                        width:28px;
                        height:48px;
                        background-size:28px;
                    }
                }
            }
        }
    }
    .bottom-btn {
        margin-top:40px;
        text-align:center;
        @include mobile {
            margin-top:20px;
        }
    }
}